/* Inizio common */
body{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(238, 238, 238);
    margin: 0;
}
/* Fine common */

/* Parte del header */
header{
    background-color: white;
}

#logo{
    height: 80px;
    margin-left: 20px;
}

#text-logo{
    display: inline-block;
    vertical-align: 25px;
    font-size: 50px;
    font-weight: 700;
}

/* corpo della pagina */
.container{
    
    margin: auto;
    margin-top: 50px;
    margin: auto;

}

/* Parte superiore della main con i button */
.top{
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 50px;
    width: 50%;
    margin: auto;
    margin-top: 20px;

}

.enter{
    margin-top: 10px;
    margin-left: 20px;
    border-radius: 5px;
    height: 30px;
    border: 1px solid gray;
}

.task{
    color: white;
    background-color: rgb(61, 181, 250);
}

.sections{
    color: gray;
    background-color: white;
}